<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpme : the socially active media</title>
</head>
<body>
    {% include "components/setup.html" %}
    {% include "components/header.html" %}
    {% include "components/stringfunction.html" %}
    {% include "components/postElement.html" %}
    {% include "components/notificationsLib.html" %}
    <script>
        let params = `{{ posts }}`;
        console.log(params);
        let content = params.decodeHTML().doubleQuotesOnly().replaceAll("\r","").replaceAll("\n"," ");
        let posts = JSON.parse(content).posts;

        renderPosts(posts);

        if(window.location.search == "?newuser") {
            notify("New user has been created!");
        }
        else if(window.location.search == "?posted") {
            notify("post created!")
        }
    </script>
</body>
</html>